@model DDCharacter
@{
    ViewData["Title"] = "GenerateCharacter";
}

<h1>Character Created. Safe Travels!!</h1>

@*<p>Player Name: @Model.PlayerName</p>
<p>Character: @Model.CharacterName, Level @Model.Level, @Model.Alignment, @Model.Race @Model.Class</p>
<p>Background: @Model.Background</p>
<p>Current XP Points: @Model.ExpPoint</p>*@


<a href="~/Forms/Charesult.pdf">@Model.CharacterName's Character Sheet (PDF)</a>